.competitions {
    width: 380px;
    display: flex;
    flex-direction: column;
}
.title {
    justify-content: center;
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
